
    <div class="col mt-5">
        <div class="card-columns text-center">
            <div class="card fadeIn faster border border-dark" style="width: 18rem;"
                *ngFor="let pais of entidadesPaises">
                <img class="card-img-top" [src]="pais.flag" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"> {{ pais.name }} </h4>
                    <button class="btn btn-primary mr-2">Guardar</button>
                    <button class="btn btn-success" (click)="verDetalleDelPais(pais)">Detalle</button>
                </div>
            </div>
        </div>
    </div>

