<div class="col fadeIn faster">
    <h1> {{ titulo }} </h1>
    <div class="card" style="width: 18rem;" *ngIf="entidadUsuario">
        <img    class="card-img-top" 
                [src]="entidadUsuario.FotoPerfil" 
                alt="">
        <div class="card-body">
            <h5 class="card-title"> Nombre: {{ entidadUsuario.Nombre }} </h5>
            <p class="card-text"> Sexo: {{ entidadUsuario.Sexo }} </p>
            <app-boton-usuario  [entidadUsuario]="entidadUsuario" 
                                >
            </app-boton-usuario>
        </div>
    </div>
  </div>
  