<div class="jumbotron text-center">
    <h1 class="display-4 mb-3">Region: {{ region | uppercase }} </h1>
    <button class="btn btn-primary mr-2" (click)="getPaises('europe')">Region Europe</button>
    <button class="btn btn-primary mr-2" (click)="getPaises('asia')">Region Asia</button>
    <button class="btn btn-primary mr-2" (click)="getPaises('americas')">Region América</button>
    <button class="btn btn-primary mr-2" (click)="getPaises('africa')">Region Africa</button>
</div>
<div class="container">
    <div class="row mt-5">
        <app-listado-paises [entidadesPaises]="entidadesPaises" (paisSeleccionado)="tomarPaisParaDetalles($event)">
        </app-listado-paises>
    
        <app-detalle-pais [entidadPais]="entidadPais">
        </app-detalle-pais>
    </div>    
</div>