<div class="row mb-5 fadeIn faster">
    <div class="col-12 text-center">
        <h1> Control Entidades</h1>
    </div>
</div>

<!-- <div class="row mt-5 justify-content-center">
    <app-listado-usuarios [entidadesUsuario]="entidadesUsuario" (usuarioSeleccionado)="tomarUsuarioParaDetalles($event)"></app-listado-usuarios>
    <app-detalle-usuario [entidadUsuario]="entidadUsuario"></app-detalle-usuario>
</div> -->
<div class="row mt-5 justify-content-center">
    <app-listado-paises [entidadesPaises]="entidadesPaises" (paisSeleccionado)="tomarPaisParaDetalles($event)"></app-listado-paises>
    <app-detalle-pais [entidadPais]="entidadPais"></app-detalle-pais>
</div>