<div class="row mb-5 fadeIn faster">
    <div class="col-12 text-center">
        <h1> Control Entidades</h1>
        <button class="btn btn-outline-dark" (click)="cambiarVistaUsuarios()"> {{ botonUsuarios }} </button>
    </div>
</div>

<div class="row mt-5 justify-content-around" *ngIf="mostrarUsuarios">
    <app-listado-usuarios   [titulo]="'Listado de Usuarios'" 
                            [entidadesUsuario]="entidadesUsuario" 
                            (usuarioSeleccionado)="tomarUsuarioParaDetalles($event)">
    </app-listado-usuarios>
    <app-detalle-usuario    [titulo]="'Detalle Usuario'" 
                            [entidadUsuario]="entidadUsuario"
                            (usurioParaBorrar)="tomarUsuarioParaBorrar($event)">
    </app-detalle-usuario>
</div>
<div class="row mt-5 justify-content-around" *ngIf="mostrarUsuariosBorrados">
    <app-listado-usuarios   [titulo]="'Usuarios Borrados'" 
                            [entidadesUsuario]="entidadesUsuarioBorradas" 
                            (usuarioSeleccionado)="tomarUsuarioBorradoParaDetalles($event)">
    </app-listado-usuarios>
    <app-detalle-entidad    [titulo]="'Detalle Usuario Borrado'" 
                            [entidad]="entidadUsuarioBorrada">
    </app-detalle-entidad>
</div>
<div class="row mt-5 justify-content-around" *ngIf="mostrarPaises">
    <app-listado-paises     [entidadesPaises]="entidadesPaises" 
                            (paisSeleccionado)="tomarPaisParaDetalles($event)">
    </app-listado-paises>
    <app-detalle-pais       [entidadPais]="entidadPais">

    </app-detalle-pais>
</div>
